$blue:  #109CF1;
$grey: #90A0B7;
$green: #2ED47A;
$yellow: #FFB946;
$redd: #F7685B;
$light-grey: #EBEFF2;
$text-color: #192A3E;
$sidebar-width: 256px;


.color-red{
  color: $redd;
}

.color-green{
  color: $green;
}

.color-blue{
  color: $blue;
}

.color-yellow{
  color: $yellow;
}
